.main_container {
    position: relative;
    top: 50px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.home_top {
    display: flex;
    flex-direction: row;
    padding: 50px;
    align-items: center;

}

.home_top img {
    height: 400px;
    width: 400px;
}

.home_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}

.my_scrvices {
    height: 250px;
    width: 350px;
    background-color: #926691;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

}
.my_scrvices2 {
    height: 250px;
    width: 400px;

    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

}
.for_more{
    height: 250px;
    width: 400px;
    margin: 20px;
}
.home_top_container{
    padding: 50px;
}
.outer_circle{
    height: 180px;
    width: 180px;
    background-color: rebeccapurple;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner_circle{
    height: 160px;
    width: 160px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner_circle2{
    height: 130px;
    width: 130px;
    background-color: chocolate;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.before_name{
    font-weight: bold;
    color: blueviolet;
}
.name{
    color: chocolate;
}
.my_scrvices p{
    font-size: 20px;
}


@media (max-width: 800px) {
    .home_top {
        flex-direction: column;
    }

    .home_bottom {
        flex-direction: column;
    }
}