
.left {
  width: 30%;
  height: 100%;
  padding: 20px;
  line-height: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
  overflow-y: scroll;
}
.center {
  position: absolute;
  border: 2px solid blue;
  top: 2px;
  width: 70%;
}
.gap {
  height: 32px;
}

.left img {
  height: 170px;
  width: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.left h2 {
  color: rebeccapurple;
  text-align: center;
}
.left p {
  text-align: center;
  font-style: italic;
  overflow-wrap: break-word;
}

.left button {
  width: 100%;
  padding: 12px;
  background-color: #4366cf;
  border: 1px solid blueviolet;
  border-radius: 20px;
  color: white;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
