.main_container {
    display: flex;
  }

.sidebar {
    background: rgb(0, 7, 61);
    color: white;
    height: 100vh;
    overflow-y: auto;
  }
  .sidebar img{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin-top: 50px;
  }
  .sidebar h4{
    margin-top: -25px;
    font-weight: normal;
    font-style: italic;
  }
  .nav_item{
    display: flex;
    color: wheat;
    margin-top: 10px;
    align-items: center;
  }
  .icon {
    font-size: 18px;
    line-height: 0;
  }
  .link_text{
    font-size: 22px;
    padding-left: 10px;
  }
  .bar{
    color: aqua;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 10px;
  }