.main_container {
    position: relative;
    top: 80px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}
.main_container h1{
    text-align: center;
}
.skill_box_with_image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.skill_left{
    width: 30%;
    justify-content: center;
    align-items: center;
}
.skill_left img{
    height: 350px;
    width: 300px;
}
.skill_right{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
 
}
.skill_set{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-start;
}
.skill_box{
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
 
}
.skill_card{
    height: 135px;
    width: 270px;
    border-radius: 15px;
    border: 1px solid rebeccapurple;
    background-color: #f8f0f8;
    display: flex;
}
.skill_image{
    width: 35%;
    margin: auto;
    padding: 10px;
}
.skill_image img{
    border-radius: 50%;
}
.skill_details{
line-height: .9;
}
.divider{
    height: 2px;
    background-color: black;
}
.small_divider{
    height: 5px;
    width: 300px;
    border-radius: 5px;
    background-color: #949090;
    margin-top: -30px;
    margin-bottom: 10px;
}